services:
  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    container_name: the-post-pilot-api
    ports:
      - "${API_PORT:-8081}:8081"
    env_file:
      - ./apps/api/.env
    networks:
      - the-post-pilot-network
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:8081/the-post-pilot/v1/health",
        ]
      interval: 30s
      timeout: 3s
      start_period: 10s
      retries: 3

networks:
  the-post-pilot-network:
    driver: bridge

volumes:
  mongo-data:
    driver: local
